/* DoctorMainPage.css */

.doctor-main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .navbar-D {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1e5aa5; /* Add your desired background color */
    color: white; /* Add your desired text color */
    margin-bottom: 40px;
  }

  .density-small-icon-1 {
    width: 24px;
    height: 24px;
    background: #ffffff;
  }
  
  /* Align menu-button and header-text to the left */
.menu-button {
    margin: 5px;
    align-self: flex-start;
  }
  
  .header-text {
    font-weight: bold;
    font-size: 25px;
    align-self: flex-start;
    padding-left: 10px;
  }
  
  /* Align right-text and dropdown-button to the right */
  .right-text {
    margin: 5px;
    margin-left: auto; /* Push these elements to the right */
  }
  
  .dropdown-button {
    margin: 5px;
    margin-left: auto; /* Push these elements to the right */
  }
  
  
  /* Style the search bar */
  .search-bar {
    padding: 0 30px; 
    flex-grow: 1; /* Allow it to grow and fill available space */
    display: flex;
    align-items: center;
    width: 20%;
    margin-bottom: 20px;
  }
  
  .search-bar input[type="text"] {
    flex-grow: 1; /* Allow the input to grow and fill available space */
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;

  }
  
  
  /* Style the combo box */
  .filter-dropdown select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100px; /* Adjust the width as needed */
    margin-left: 10px;
  }
  
  .filter-dropdown select:focus {
    outline: none; /* Remove the default focus outline */
  }
  
/*TABLE */
.table-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 0 30px; 
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: scroll;
  }


.data-table {
    margin: 0 auto; 
    border-collapse: collapse;
    width: 100%;
    border: 1px solid;
  }
  

  .data-table th {
     
    color: rgb(255, 255, 255); 
    border: 1px solid; 
    padding: 8px; 
    text-align: left; 
  }

  .data-table thead {
    background-color: #9c9c9c;
    border: 1px solid; 
    padding: 8px; 
    text-align: left; 
  }

  .data-table tbody {
    background-color: #ffffff;
    border: 1px solid; 
    padding: 8px; 
    text-align: left; 
  }
  
  
  .data-table td {
    border: 1px solid; 
    padding: 8px; 
    text-align: left; 
  }
  

  .data-table tr:hover {
    background-color: #ffffff; 
  }